


#wrapper {
  margin: 40px auto;

}


#ticker_container {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  padding: 25px;
  border: 1px solid #343434;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  overflow: auto;
  margin-top: 30px;
}
