/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Bolt - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */
 
/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* OVERALL ASPECT */






/* Paragraph & Typographic */
p


.button:hover {
	background-color: #37a079;
}

.nav > li.active > a.git-link {
	font-size: 16px;
}

.nav > li.active > a.git-link:hover {
	background-color: #37a079;
}

.nav > li.active > a.git-link i {
	margin-right: 6px;
	font-size: 20px;
}

#hello .button {
	margin: 16px 8px;
	text-transform: uppercase;
	width: 220px;
}

code.example-code {
	max-height: 325px;
	overflow: scroll;
}

h2.header {
	text-align: center;
	margin-top: 0;
	margin-bottom: 1em;
}

#f p {
	font-size: 1.2em;
	font-weight: 300;
}

#f p a {
	color: #4e4e4e;
}

#f p a:hover {
	color: #000;
}

/* title */
.title {
	background-color: #4e4e4e;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

.title h3 {
	color: white;
	font-weight: 400;
	margin-bottom: 20px;
	font-weight: 700;
}

.title p {
	color: white;
	font-weight: 400;
	font-size: 20px;
}

/* TABLE */
.params-table code {
	color: #4e4e4e;
	border-radius: 1px;
	background-color: rgba(116, 207, 174, .3);
	-webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    -ms-transition: background-color 0.1s ease-in-out;
    -o-transition:background-colorl 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}

.params-table code:hover {
	background-color: rgba(116, 207, 174, .5);
}


.params-table thead {
	color: #fff;
	background-color: #74cfae;
}

.params-table  thead > tr > th {
	border-bottom: none;
	font-size: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
}

.params-table tbody > tr > td {
	border-top: none;
}

.params-table > tbody > tr:hover > td {
	background-color: #e4f6ef;
}


/* DOWNLOAD */

.download-title {
	background-color: #4e4e4e;
}

.download-title h3 {
	margin: 3em 0;
	color: #fff;
}

#download {
	padding: 8em 0;
}

#download .download-link {
	padding: 1em .5em;
}

#download .download-link:hover {
	background: #fff;
}

#download .download-link i,
#download .download-link .download-text {
	-webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition:colorl 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

#download .download-link:hover i,
#download .download-link:hover .download-text {
	color: #4e4e4e;
}

#download .download-link i {
	font-size: 80px;
}


#download .download-text {
	font-size: 2.4em;
	font-weight: 300;
	color: #74cfae;
}

/*
	NEWSTICKERS
*/


/* nt-title */

#nt-title-container {
	background: #F2F2F2;
}

#nt-title {
}

#nt-title li {
	font-size: 28px;
	color: #4E4E4E;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* nt-example1 */

#nt-example1,#nt-example2,#nt-example3 {
	max-width: 620px;
	margin: auto;
}

#nt-example1-container,#nt-example2-container,#nt-example3-container {
	text-align: center;
}


#nt-example1-container i:hover,#nt-example2-container i:hover,#nt-example3-container i:hover {
	color: #333;
}

#nt-example1 li,#nt-example2 li,#nt-example3 li {
	color: #4e4e4e;
	background: #F2F2F2;
	overflow: hidden;
	height: 80px;
	padding: 10px;
	text-align: left;
	border-bottom: 1px dotted #2c8162;
}

#nt-example1 li:hover,#nt-example2 li:hover,#nt-example3 li:hover {
	background: #FFF;
}


