/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
 
	font-family: 'Open Sans', sans-serif !imporant;: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{

	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],.w3layouts_mail_grid_left1,.w3layouts_mail_grid_left2 a,.w3layouts_services_grid_main,.agileits_w3layouts_nav_right ul li a,.w3layouts_banner_info_right ul li a,.wthree_copy_right p a,.agile_map_grid ul li a,.agileits_w3layouts_footer_grid ul li a{
	-webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
/*-- banner --*/

.banner1{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
	position: relative;
}
/*-- nav --*/

.agile_short_dropdown li a {
    padding: 8px 20px;
    color: #212121;
    text-align: center;
}
.agile_short_dropdown li a:before{
	content:'';
	display:none;
}
/* Effect 13: three circles */
.cl-effect-13 ul li a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-13 ul li a::before {
	position: absolute;
	top:75%;
	left: 50%;
	color: transparent;
	content: '.';
	text-shadow: 0 0 transparent;
	font-size:2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.cl-effect-13 ul li a:hover::before,
.cl-effect-13 ul li a:focus::before,ul.nav.navbar-nav li.active a::before{
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}
/*-- //nav --*/
.agileits_w3layouts_banner_info{
	margin: 15em 0 0;
	position:relative;
}
.agileits_w3layouts_banner_info_pos{
	position: absolute;
    top: 0%;
    transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
    left: -7%;
}
.agileits_w3layouts_banner_info_pos1{
	position: absolute;
    bottom: 0%;
    transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
    right: -5%;
}
.agileits_w3layouts_banner_info_pos1 h4{
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.agileits_w3layouts_banner_info_pos ul li{
	display:inline-block;
	font-family: 'Open Sans', sans-serif !imporant;: 'Varela Round', sans-serif;
}
.agileits_w3layouts_banner_info_pos ul li:nth-child(2){
	margin:0 4em;
}
.agileits_w3layouts_banner_info_pos ul li a{
	color:#fff;
	text-decoration:none;
}
.agileits_w3layouts_banner_info h2{
	text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
	font-family: 'Open Sans', sans-serif !imporant;: 'Open Sans', sans-serif;
}
.agileits_w3layouts_banner_info p{
	text-transform: uppercase;
    color:#1bd6f2;
    text-align: right;
    width: 74%;
}
.thim-click-to-bottom {
    position: absolute;
    bottom: 7%;
    left: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
.thim-click-to-bottom i {
    color: #fff;
    padding: 20px 10px;
    border: 1px solid;
    border-radius: 20px;
	font-size: 15px;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom,.testimonials,.services,.portfolio,.mail,.w3_wthree_agileits_icons,.typo{
	padding:5em 0;
}
.w3_agileits_banner_bottom_grid h3{
	text-transform:capitalize;
	font-size:1.8em;
	color:#212121;
	margin-bottom:2em;
}
.w3_agileits_banner_bottom_grid h3 span{
	color: #1bd6f2;
}
.wthree_banner_btm_grid{
	padding-right:2em;
	text-align:right;
	border-right:1px solid #212121;
}
.wthree_banner_btm_grid h4{
	text-transform:capitalize;
	font-size:1.3em;
	margin-bottom:1em;
	color:#212121;
}
.wthree_banner_btm_grid p{
	color:#999;
	line-height:2em;
}
.wthree_banner_btm_grid1:nth-child(2){
	margin:1em 0;
}
.wthree_banner_btm_grid1:nth-child(3){
	margin-bottom:1em;
}
.wthree_banner_btm_grid1{
	position:relative;
}
.wthree_banner_btm_grid1_pos{
	position: absolute;
    right: -10.5%;
    top: -8%;
}
.wthree_banner_btm_grid1_pos i{
	background: #212121;
    color: #fff;
    font-size: .8em;
    border-radius: 46px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 3;
}
.w3_agileits_banner_bottom_grid_right{
	padding-left:4em;
	margin-top: 7em;
}
/*-- plugin --*/
/*-- Glidejs styles --*/
.slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-bottom:3em;
}
	
.slides {
  overflow: hidden;
  /**	
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

   -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
	
.slide {
	float: left;
    clear: none;
    display: inline-block;
}
.slide figure {
  display: block;
  position: relative;
  text-align: center;
}
.slide figure figcaption {
  position: absolute;
  right: 20%;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px 14px;
  color: #464646;
  background: rgba(255,255,255,0.8); 
}
.slide figure figcaption a {
  color: #5a7fbc;
  text-decoration: none;
}
.slide figure figcaption a:hover { text-decoration: underline; }

.slide figure img {
  max-height: 480px;
}

.slider-arrow {
	display: none;
	position: absolute;
  margin-bottom: -20px;
  padding: 20px;
  text-decoration: none;
  font-weight: 900;
  font-size: 3.0em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.slider-arrow:hover {
  background: #ddd;
  color: #aaa;
}
.slider-arrow--right { bottom: 50%; right: 30px; }
.slider-arrow--left { bottom: 50%; left: 30px; }


.slider-nav {
	position: absolute;
    bottom: 0px;
}

.slider-nav__item {
	width: 10px;
    height: 10px;
    float: left;
    clear: none;
    display: block;
    margin: 0 3px;
    background: none;
    border: 2px solid #706f6f;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.slider-nav__item:hover { border:2px solid #1bd6f2;}
.slider-nav__item--current, .slider-nav__item--current:hover { background: none;border:2px solid #1bd6f2; }
/*-- //plugin --*/
/*-- //banner-bottom --*/
/*-- about --*/
.about{
	background:#1bd6f2;
}
.agileinfo_about_left {
    padding: 0;
}
.agileinfo_about_right{
	padding:8em 10em 0em 5em;
}
.agileinfo_about_right h4{
	font-size:1em;
	color:#fff;
}
.agileinfo_about_right h3{
	font-size: 2.2em;
    color: #212121;
    text-transform: capitalize;
    margin: 0 0 1em;
}
.agileinfo_about_right p{
	color:#0c6e7c;
	line-height:2em;
}
/*-- //about --*/
/*-- testimonials --*/
section.slider {
    padding: 0 !important;
}
.w3_agile_head{
	font-size:2.5em;
	color:#212121;
	text-align:center;
}
p.augue_agile{
	color:#999;
	text-align:center;
	position:relative;
	font-weight: 500 !important;
}
p.augue_agile:before,p.augue_agile:after{
	content: '';
    background: #1bd6f2;
    height: 2px;
    width: 10%;
    position: absolute;
    top: 45%;
}
p.augue_agile:before{
	left:25%;
}
p.augue_agile:after{
	right:25%;
}
.testimonial_grids{
	margin:3em 0 0;
}
.w3_agileits_testimonial_grid{
	width:50%;
	margin:0 auto;
	text-align:center;
}
.w3_agileits_testimonial_grid p{

	line-height:2em;
	margin-bottom:1em;
}
.w3_agileits_testimonial_grid p i{
	font-size: 2em;
    color: #1bd6f2;
    padding: .5em;
    border: 1px solid;
    border-radius: 30px;
    margin-right: 0.5em;
}

.w3_agileits_testimonial_grid img {
    margin: 0 auto;
}
.w3_agileits_testimonial_grid h4{
	font-size: 1.1em;
    color: #212121;
    margin: 2em 0 0;
}
.w3_agileits_testimonial_grid h4 span{
	display:block;
	margin-top:.5em;
	font-size:.7em;
	color:#1bd6f2;
}
/*-- //testimonials --*/
/*-- footer --*/

.agileits_w3layouts_nav_left{
	float:left;
}
.agileits_w3layouts_nav_left ul li{
	display:inline-block;
	margin-right:4em;
}
.agileits_w3layouts_nav_left ul li a{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}
.agileits_w3layouts_nav{
	margin:4em 0;
}
.agileits_w3layouts_nav_left ul li.active a{
	color:#1bd6f2;
}
.agileits_w3layouts_nav_right{
	float:right;
}
.agileits_w3layouts_nav_right ul li{
    display: inline-block;
}
.agileits_w3layouts_nav_right ul li a{
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding-top: .5em;
    font-size: 13px;
    border: 2px solid #fff;
    border-radius: 30px;
}
.agileits_w3layouts_nav_right ul li a i {
    padding-top: .4em;
}
.agileits_w3layouts_nav_right ul li a:hover{
	background:#1bd6f2;
	border: 2px solid #1bd6f2;
	color:#212121;
}
.footer p{
	padding:1em 0;
	text-align:center;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	color:#fff;
}
.footer p a{
	text-decoration:none;
	color:#1bd6f2;
}
/*-- //footer --*/
/*-- pop-up --*/
.agileits_w3layouts_user{
	position:relative;
}
.agileits_w3layouts_user i{
	position: absolute;
    top: 0;
    font-size: 1em;
    color: #fff;
    padding: 13px 0;
    width: 10%;
    background:#1bd6f2;
}
.agileits_w3layouts_user input[type="text"],.agileits_w3layouts_user input[type="email"], .agileits_w3layouts_user input[type="password"]{
    outline: none;
    padding: 10px 10px 10px 60px;
    font-size: 14px;
    color: #212121;
    border: 1px solid #999;
    width:100%;
}
.agileits_w3layouts_user:nth-child(2),.agileits_w3layouts_user_agileits{
	margin:1em 0;
}
.agile_remember_left {
    float: left;
}
.agile_remember_left label,.agileinfo_subscribe label{
    font-size: 14px;
    font-weight: 500;
    color: #999;
    text-transform: capitalize;
	margin:0;
}
.agile_remember_right {
    float: right;
}
.checkbox {
    position: relative;
	padding-left:30px !important;
    cursor: pointer;
}
.checkbox i {
    position: absolute;
    bottom: 2px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    outline: none;
    border: 1px solid #5B5B5B;
    background: #FFF;
}
.checkbox input + i:after,.radio input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input:checked + i:after,.radio input:checked + i:after{
    opacity: 1;
}
.checkbox input,.radio input {
    position: absolute;
    left: -9999px;
}
.checkbox input + i:after {
    content: '';
    background: url("../images/check.png") no-repeat 0px 2px;
    top: -5px;
    left: 0px;
    width: 15px;
    height: 15px;
    text-align: center;
}
.agile_remember_right a {
    font-size: 14px;
    color: #999;
    text-decoration: underline;
}
.agile_remember_right a:hover {
    color: #212121;
}
.agile_remember {
    padding: 1.5em 0;
}
.agileits_modal_body  input[type="submit"]{
	outline:none;
	border:none;
	background:#212121;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	padding:10px 0;
	width:40%;
}
.agileits_modal_body  input[type="submit"]:hover{
	background:#1bd6f2;
}
.agileits_modal_body h5 {
    font-size: 14px;
    color: #999;
    margin: 2em 0 0;
    text-align: center;
}
.agileits_modal_body h5 a{
	text-decoration:underline;
	color:#212121;
}
.wthree_pop h3{
	font-size: 1.5em;
    color: #212121;
    margin-bottom: 1em;
}
.agileits_modal_body h4{
	text-transform: uppercase;
    color: #4f4f4f;
    font-size: 14px;
    margin-bottom: 1em;
    text-align: left;
    letter-spacing: 2px;
}
.agileinfo_subscribe label {
    text-align: left;
}
.agileinfo_subscribe {
    margin: 1.5em 0 2em;
}
/*-- //pop-up --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- services --*/
.w3layouts_services_grids{
	margin:3em 0 0;
}
.w3layouts_services_grid1{
	position:relative;
}
.w3layouts_services_grid1_pos{
	position: absolute;
    top: 5%;
    right: 5%;
    width: 20%;
}
.w3layouts_services_grid1_pos h4{
	font-size: 14px;
    color: #fff;
    background: #1bd6f2;
    text-align: center;
}
.w3layouts_services_grid h5{
	font-size: 1.4em;
    text-transform: capitalize;
    color: #212121;
    margin: 1em 0 .5em;
    line-height: 1.5em;
}
.w3layouts_services_grid p{
	color:#999;
	line-height:2em;
}
.w3layouts_services_grid_main{
	position:relative;
	z-index: 2;
	padding:1em;
}
.w3layouts_services_grid_main:hover{
    box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    z-index: 100;
}
.w3layouts_services_grids1{
	margin:1em 0 0;
}
.services-bottom{
	background: url(../images/13.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 420px;
	padding:4em 0;
}
.w3_services_bottom_left h3{
	font-size: 1.5em;
    color: #fff;
    line-height: 1.5em;
    text-transform: capitalize;
    margin: 4em 0 0;
}
.w3_services_bottom_left h3 i {
    padding-right: .5em;
    color: #1bd6f2;
}
.services-footer-top{
	padding-top:5em;
}
.w3l_services_footer_top_left img {
    margin: 0 auto;
}
.w3l_services_footer_top_right_main_l{
	float:left;
}
.w3l_services_footer_top_right_main_l h3{
	font-size: 1.2em;
    color: #212121;
    padding-right: 2em;
    border-right: 1px solid;
    margin: 1.8em 0 0;
}
.w3l_services_footer_top_right_main_l1{
	float:left;
	margin:0 2em;
}
.w3ls_service_icon{
	width: 70px;
    height: 70px;
    border: 2px solid #1bd6f2;
    border-radius: 40px;
    text-align: center;
}
.w3ls_service_icon i{
	font-size: 2em;
    color: #1bd6f2;
    padding-top: .5em;
}
.w3l_services_footer_top_right_main_r{
	float:right;
	width: 50%;
}
.w3l_services_footer_top_right_main_r a{
	font-size: 1em;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.w3l_services_footer_top_right_main_r p{
	margin:1em 0 0;
	color:#999;
	line-height:2em;
}
.w3l_services_footer_top_right_main_r a:focus{
	outline:none;
}
.modal-body p {
    color: #999;
    text-align: left;
	padding:2em 2em 1em;
	margin: 0 !important;
	line-height:2em;
}
.modal-body p i {
    display: block;
    margin: 2em 0 0;
}

.modal-header {
    font-size: 2em;
    text-align: center;
    color: #212121;
    font-weight: 600;
    text-transform: uppercase;
}
.w3l_services_footer_top_right_main:nth-child(2) {
    margin: 2em 0;
}
/*-- //services --*/
/*-- portfolio --*/
.agileits_portfolio_grids{
	margin:1em 0 0;
}
.agileinfo_portfolio_grid{
	margin-top:2em;
}
.hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
}

.hovereffect h4 {
	text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 1.1em;
    background-color: transparent;
    color: #1bd6f2;
    padding:1.6em 0 0.5em;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

.hovereffect p{
	color: #FFF;
    line-height: 1.8em;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect:hover p, .hovereffect:hover h4 {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //portfolio --*/
/*-- mail --*/
.map iframe{
	width:100%;
	min-height:400px;
}
.agileits_mail_grid_right1{
	padding:3em;
	background:#f5f5f5;
}
.agileits_mail_grid_right1 span i{
	color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal;
    float: left;
    width: 15%;
    margin: .8em 0 0;
}
.agileits_mail_grid_right1 input[type="text"],.agileits_mail_grid_right1 input[type="email"],.agileits_mail_grid_right1 textarea{
	outline: none;
    width: 85%;
    background: #fff;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E7E7E7;
}
::-webkit-input-placeholder{
	color:#212121 !important;
}
.agileits_mail_grid_right1 span {
    padding: .5em 0;
    display: block;
}
.agileits_mail_grid_right1 textarea{
	min-height:200px;
}
.agileits_mail_grid_right1 input[type="submit"]{
	outline: none;
    width: 35%;
    background: #1bd6f2;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    margin:.5em 0 0 6.9em;
}
.agileits_mail_grid_right1 input[type="submit"]:hover{
    background:#212121;
    color: #fff;
}
.w3_agile_mail_grids_agile{
	margin:3em 0 0;
}
.w3layouts_mail_grid_left1{
	float: left;
    width: 50px;
    height: 50px;
    background: #212121;
    text-align: center;
    border-radius: 50px;
}
.w3layouts_mail_grid_left1 span{
	font-size: 1em;
    color: #fff;
    top: 16px;
}
.w3layouts_mail_grid_left2{
	float:right;
	width:75%;
}
.w3layouts_mail_grid_left2 h3{
	font-size: 1.2em;
    color: #212121;
    margin: .3em 0 0;
}
.w3layouts_mail_grid_left2 a{
	text-decoration:none;
	color:#999;
	font-size:14px;
}
.w3layouts_mail_grid_left2 a:hover{
	color:#212121;
}
.w3layouts_mail_grid_left2 p {
    color: #999;
}
.w3layouts_mail_grid_left:nth-child(2) {
    margin: 2em 0;
}
.w3layouts_mail_grid_left:hover .w3layouts_mail_grid_left1{
	background:#1bd6f2;
}
/*-- //mail --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif !imporant;: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 28px;
    color:#1bd6f2 !important;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #000;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif !imporant;: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#1bd6f2;
    font-weight: bold;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.agileinfo_about_right {
		padding: 6.5em 8em 0em 5em;
	}
}
@media (max-width:1366px){

	.agileits_w3layouts_banner_info {
		margin: 13em 0 0;
	}
	.agileits_w3layouts_banner_info_pos {
		top: 35%;
	}
	.agileinfo_about_right {
		padding: 6em 8em 0em 5em;
	}
}
@media (max-width:1280px){
	.navbar-nav {
		margin: 0 0 0 5em;
	}
	.agileinfo_about_right {
		padding: 5em 5em 0em 5em;
	}
}
@media (max-width: 1080px){
	.navbar-nav {
		margin: 0 0 0 1em;
	}
	.navbar-nav > li > a {
		padding: 17px 25px 0;
	}
	.w3_agile_login a i {
		margin-top: .8em;
	}
	.agileits_w3layouts_banner_info h2 {
		font-size: 3.7em;
	}
	.agileits_w3layouts_banner_info {
		margin: 10em 0 0;
	}
/* 	.banner {
		min-height: 520px;
	} */
	.agileits_w3layouts_banner_info_pos ul li:nth-child(2) {
		margin: 0 2em;
	}
	.agileits_w3layouts_banner_info_pos {
		top: 45%;
	}
	.w3_agileits_banner_bottom_grid h3 {
		font-size: 1.7em;
	}
	.wthree_banner_btm_grid h4 {
		font-size: 1.2em;
	}
	.wthree_banner_btm_grid1_pos {
		right: -13.5%;
	}
	.w3_agileits_banner_bottom_grid_right {
		padding-left: 2em;
	}
	.wthree_banner_btm_grid1_pos i {
		line-height: 3.5;
	}
	.agileinfo_about_right h3 {
		font-size: 2em;
		margin: 0 0 0.5em;
	}
	.agileinfo_about_right {
		padding: 3.5em 3em 0em 3em;
	}
	p.augue_agile:before {
		left: 22%;
	}
	p.augue_agile:after {
		right: 22%;
	}
	.w3_agile_head {
		font-size: 2.3em;
	}
	.w3_agileits_testimonial_grid {
		width: 60%;
	}
	.footer h3 {
		width: 47%;
	}
	.footer form {
		width: 50%;
	}
	.w3layouts_services_grid,.w3l_services_footer_top_right {
		padding: 0;
	}
	.w3layouts_services_grid h5 {
		font-size: 1.25em;
	}
	.services-bottom {
		min-height: 360px;
	}
	.w3_services_bottom_left h3 {
		font-size: 1.3em;
		line-height: 1.8em;
		margin: 3em 0 0;
	}
	.w3ls_service_icon {
		width: 50px;
		height: 50px;
	}
	.w3ls_service_icon i {
		font-size: 1.4em;
	}
	.w3l_services_footer_top_right_main_r {
		width: 46%;
	}
	.w3l_services_footer_top_right_main_r a {
		font-size: .98em;
		letter-spacing: 1px;
	}
	.banner-bottom,.services-footer-top, .testimonials, .services, .portfolio, .mail, .w3_wthree_agileits_icons, .typo {
		padding: 5em 0;
	}
	.hovereffect h4 {
		padding: 1em 0 0.5em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 5.5em;
	}
	.banner1 {
		min-height: 250px;
	}
	.map iframe {
		min-height: 350px;
	}
}
@media (max-width: 1024px){
	.w3layouts_services_grid1_pos {
		width: 25%;
	}
	.navbar-nav > li {
		font-size: 13px;
	}
	.navbar-nav {
		margin: 0 0 0 2em;
	}
	.banner-bottom, .services-footer-top, .testimonials, .services, .portfolio, .mail, .w3_wthree_agileits_icons, .typo {
		padding: 4em 0;
	}
	.agileinfo_about_right h3 {
		font-size: 1.8em;
	}
	.agileinfo_about_right {
		padding: 3.5em 2em 0em 2em;
	}
	.footer h3 {
		margin: 1em auto;
	}
	.agileits_w3layouts_nav {
		margin: 3em 0;
	}
}
@media (max-width: 991px){
	.w3layouts_services_grid1_pos {
		width: 30%;
	}
	.navbar-brand {
		height: 40px;
		font-size: 1.1em;
		line-height: 35px;
		padding-left: 0.5em;
		background: url(../images/1.png) no-repeat 0px 0px;
		background-size: 25%;
	}
	.navbar-nav > li {
		font-size: 12px;
	}
	.navbar-nav > li > a {
		padding: 13px 12px 0;
	}
	.w3_agile_login a i {
		margin-top: .7em;
		font-size: .9em;
	}
	.agileits_w3layouts_banner_info h2 {
		font-size: 3.2em;
	}
	.agileits_w3layouts_banner_info p {
		width: 80%;
	}
	.agileits_w3layouts_banner_info_pos {
		left: -12%;
	}
	.agileits_w3layouts_banner_info_pos1 h4 {
		font-size: 13px;
	}
	.wthree_banner_btm_grid1_pos {
		right: -8%;
	}
	.about {
		background: #fff;
	}
	.agileinfo_about_left img {
		margin: 0 auto;
	}
	.agileinfo_about_right {
		background: #1bd6f2;
		width: 82.2%;
		margin: 0 auto;
		padding: 3em;
	}
	p.augue_agile:before {
		left: 17%;
	}
	p.augue_agile:after {
		right: 17%;
	}
	.w3_agileits_testimonial_grid p i {
		font-size: 1.5em;
	}
	.w3_agileits_testimonial_grid {
		width: 75%;
	}
	.footer h3 {
		width: 60%;
	}
	.footer form {
		width: 70%;
	}
	.w3layouts_services_grid {
		float: left;
		width: 33.33%;
	}
	.w3layouts_services_grid h5 {
		font-size: 1.11em;
	}
	.w3_services_bottom_left h3 {
		font-size: 1.4em;
		line-height: 1.8em;
		margin: 0 0 2em;
	}
	.w3l_services_footer_top_left {
		margin-bottom: 2em;
	}
	.w3l_services_footer_top_right_main_r {
		width: 52%;
	}
	.agileits_portfolio_grid {
		float: left;
		width: 50%;
	}
	.hovereffect h4 {
		padding: 2.6em 0 0.5em;
	}
	.w3layouts_mail_grid_left2 {
		width: 88%;
	}
	.w3_agile_mail_right {
		margin: 2em 0 0;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 6.5em;
	}
	.agileits_w3layouts_nav_left ul li {
		margin-right: 3em;
	}
	.agileits_w3layouts_nav_left {
		margin-top: .6em;
	}
	.slide figure img {
		margin: 0 auto;
	}
	.w3_agileits_banner_bottom_grid_right {
		margin-top: 3em;
	}
	.agileinfo_about_right {
		width: 100%;
	}
}
@media (max-width: 768px){
	.footer h3 {
		width: 50%;
		font-size: 1.8em;
		letter-spacing: 3px;
	}
	.banner1 {
		min-height: 175px;
	}
	.banner-bottom, .services-footer-top, .testimonials, .services, .portfolio, .mail, .w3_wthree_agileits_icons, .typo {
		padding: 3em 0;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	
	.sub-menu{
	display: none !important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-toggle {
		margin: .5em 0 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		background: white;
		z-index: 999;
	}
	.navbar-nav > li > a {
		padding: 13px 0 0;
		margin-bottom: 10px;
	}
	.navbar-nav {
		margin: 0;
		text-align: center;
	}
	.w3_agile_login {
		float: none;
		text-align: center;
		padding-bottom: 1em;
	}
	.navbar-nav .open .dropdown-menu {
		width: 50%;
		margin: 0 auto;
		background-color: rgb(255, 255, 255);
		border-radius: 0;
	}
	.thim-click-to-bottom {
		left: 47%;
	}
}
@media (max-width: 736px){
	.w3layouts_services_grid1_pos {
		width: 35%;
	}
	.agileits_w3layouts_banner_info h2 {
		font-size: 3em;
	}

	.agileits_w3layouts_banner_info {
		margin: 8em 0 0;
	}
	.w3_agile_head {
		font-size: 2em;
	}
	.footer {
		padding: 3em 0;
	}
}
@media (max-width: 667px){
	.wthree_banner_btm_grid1_pos {
		right: -9%;
	}
	.slider {
		padding-bottom: 2em;
	}
	p.augue_agile:before {
		left: 13%;
	}
	p.augue_agile:after {
		right: 13%;
	}
	.w3_agileits_testimonial_grids {
		margin: 2em 0 0;
	}
	.footer h3 {
		width: 55%;
	}
	.footer form {
		width: 75%;
	}
	.agileits_w3layouts_nav_left ul li {
		margin-right: 2em;
	}
}
@media (max-width: 640px){
	.w3layouts_services_grid1_pos {
		width: 20%;
	}
	.agileits_w3layouts_banner_info h2 {
		font-size: 2.8em;
	}
	.agileits_w3layouts_banner_info p {
		width: 82%;
	}
	.w3_agileits_testimonial_grid {
		width: 85%;
	}
	.footer h3 {
		width: 60%;
	}
	.footer form {
		width: 80%;
	}
	.w3layouts_services_grid {
		float: none;
		width: 75%;
		margin: 0 auto;
	}
	.services-bottom {
		padding: 3em 0;
	}
	.w3l_services_footer_top_right_main_l h3 {
		font-size: 1em;
	}
	.w3l_services_footer_top_right_main_r {
		width: 49%;
	}
	.hovereffect h4 {
		padding: 2em 0 0.5em;
	}
	.map iframe {
		min-height: 300px;
	}
	.agileits_mail_grid_right1 {
		padding: 2em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 5.5em;
	}
	.modal-header {
		font-size: 1.7em;
	}
}
@media (max-width: 600px){
	.agileits_w3layouts_banner_info_pos1 {
		right: -7%;
	}
	.agileits_w3layouts_banner_info h2 {
		font-size: 2.6em;
	}
	.navbar-brand {
		font-size: 1em;
	}
	.w3_agileits_banner_bottom_grid h3 {
		font-size: 1.6em;
	}
	.wthree_banner_btm_grid1_pos {
		right: -10.7%;
	}
	.agileinfo_about_right h3 {
		font-size: 1.6em;
	}
	.agileinfo_about_right {
		padding: 2em;
	}
	p.augue_agile:before {
		left: 10%;
	}
	p.augue_agile:after {
		right: 10%;
	}
	.footer h3 {
		width: 55%;
		font-size: 1.6em;
	}
	.footer form {
		width: 85%;
	}
	.agileits_w3layouts_nav_left ul li {
		margin-right: 1.5em;
	}
}
@media (max-width: 568px){
	.agileits_w3layouts_banner_info p {
		width: 84%;
	}
	.agileits_w3layouts_banner_info_pos {
		left: -17%;
	}
	.thim-click-to-bottom i {
		padding: 18px 9px;
		font-size: 13px;
	}
	.wthree_banner_btm_grid1_pos {
		right: -11.7%;
	}
	.footer h3 {
		width: 60%;
	}
	.footer form {
		width: 90%;
	}
	.agileits_w3layouts_nav {
		margin: 2em 0 3em;
	}
}
@media (max-width: 480px){
	.agileits_w3layouts_banner_info h2 {
		font-size: 2.4em;
	}
	.agileits_w3layouts_banner_info_pos ul li:nth-child(2) {
		margin: 0 1em;
	}
	.agileits_w3layouts_banner_info_pos1 {
		right: -11%;
	}
	.banner {
		min-height: 400px;
	}
	.agileits_w3layouts_banner_info_pos1 h4 {
		font-size: 12px;
	}
	.w3_agileits_banner_bottom_grid h3 {
		font-size: 1.5em;
	}
	.wthree_banner_btm_grid h4 {
		font-size: 1.1em;
	}
	.wthree_banner_btm_grid1_pos {
		right: -14%;
	}
	.w3_agileits_banner_bottom_grid_right {
		margin-top: 2em;
		padding: 0 1em;
	}
	p.augue_agile:before {
		left: 2%;
	}
	p.augue_agile:after {
		right: 2%;
	}
	.w3_agileits_testimonial_grid p i {
		font-size: 1.2em;
	}
	.footer h2 a {
		font-size: 1em;
		line-height: 25px;
		background:url(../images/1.png) no-repeat 0px 6px;
		background-size: 25%;
	}
	.footer h3 {
		width: 70%;
	}
	.footer form {
		width: 100%;
	}
	.footer input[type="email"] {
		width: 74%;
	}
	.agileits_w3layouts_nav_left ul li a {
		font-size: 13px;
	}
	.agileits_w3layouts_nav_left {
		margin: 0 0 1em;
		float: none;
		text-align: center;
	}
	.agileits_w3layouts_nav_right {
		float: none;
		text-align: center;
	}
	.agileits_w3layouts_nav {
		margin: 2em 0;
	}
	.w3layouts_services_grids {
		margin: 2em 0 0;
	}
	.w3layouts_services_grid {
		width: 85%;
	}
	.w3_services_bottom_left h3 {
		font-size: 1.2em;
		margin: 0 0 1em;
	}
	.services-bottom {
		padding: 2em 0;
	}
	.w3l_services_footer_top_right_main_l {
		float: none;
		text-align: right;
	}
	.w3ls_service_icon {
		margin: 1em auto;
	}
	.w3l_services_footer_top_right_main_l1 {
		float: none;
		margin: 0;
	}
	.w3l_services_footer_top_right_main_r {
		width: 100%;
		float: none;
		text-align: center;
	}
	.modal-body p {
		padding: 1em 0em;
	}
	.modal-body p i {
		margin: 1em 0 0;
	}
	.agileinfo_portfolio_grid {
		margin-top: 1em;
	}
	.agileits_portfolio_grid {
		padding-left: 0;
	}
	.hovereffect h4 {
		padding: 1em 0 0.5em;
	}
	.w3_agile_head {
		font-size: 1.8em;
	}
	.agileits_mail_grid_right1 {
		padding: 1em;
	}
	.w3_agile_mail_left {
		padding: 0;
	}
	.agileits_mail_grid_right1 span i {
		font-size: 12px;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 4.5em;
	}
	.w3layouts_mail_grid_left2 {
		width: 80%;
	}
	.w3layouts_mail_grid_left2 h3 {
		font-size: 1.1em;
	}
	.agileits_w3layouts_banner_info p {
		width: 87%;
		font-size: 13px;
	}
}
@media (max-width: 414px){
	.w3layouts_services_grid1_pos {
		width: 25%;
	}
	.navbar {
		padding: 1.5em 0 0;
	}
	.agileits_w3layouts_banner_info h2 {
		font-size: 2em;
	}
	.agileits_w3layouts_banner_info {
		margin: 5em 0 0;
	}
	.agileits_w3layouts_banner_info_pos {
		left: -21%;
		top: 75%;
	}
	.banner {
		min-height: 345px;
	}
	.navbar-brand {
		font-size: .9em;
	}
	.navbar-toggle {
		margin: 0;
	}
	.banner-bottom, .services-footer-top, .testimonials, .services, .portfolio, .mail, .w3_wthree_agileits_icons, .typo {
		padding: 2em 0;
	}
	.w3_agileits_banner_bottom_grid h3 {
		font-size: 1.3em;
	}
	.wthree_banner_btm_grid h4 {
		font-size: 1em;
	}
	.wthree_banner_btm_grid1_pos {
		right: -17%;
	}
	.agileinfo_about_right h3 {
		font-size: 1.4em;
	}
	p.augue_agile {
		font-size: 13px;
	}
	p.augue_agile:before {
		left: 0%;
	}
	p.augue_agile:after {
		right: 0%;
	}
	.footer h3 {
		font-size: 1.3em;
	}
	.footer input[type="email"] {
		width: 73.8%;
	}
	.hovereffect p {
		line-height: 1.5em;
		font-size: 12px;
	}
	.hovereffect h4 {
		font-size: .9em;
	}
	.modal-header {
		font-size: 1.5em;
	}
	.modal-body {
		padding: 1em;
	}
	.agileits_mail_grid_right1 span i {
		font-size: 13px;
		float: none;
		width: 100%;
		display: block;
		margin-bottom: .5em;
	}
	.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		width: 100%;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: 0;
		width: 100%;
		font-size: 13px;
	}
	.banner1 {
		min-height: 140px;
	}
	.map iframe {
		min-height: 200px;
	}
}
@media (max-width: 384px){
	.agileits_w3layouts_banner_info_pos ul li:nth-child(2) {
		margin: 0 0.5em;
	}
	.agileits_w3layouts_banner_info_pos1 {
		right: -15%;
	}
	.agileits_w3layouts_banner_info p {
		width: 90%;
	}
	.w3_agileits_banner_bottom_grid {
		padding-left: 0;
	}
	.w3_agileits_banner_bottom_grid h3 {
		font-size: 1.25em;
	}
	.wthree_banner_btm_grid1_pos {
		right: -18%;
	}
	.w3_agileits_banner_bottom_grid_right {
		padding: 0;
	}
	.agileinfo_about_right {
		padding: 1.5em;
	}
	.w3_agile_head {
		font-size: 1.6em;
	}
	p.augue_agile:before, p.augue_agile:after {
		width: 7%;
		top: 52%;
	}
	.w3_agileits_testimonial_grid {
		width: 100%;
	}
	.footer {
		padding: 2em 0;
	}
	.footer h3 {
		width: 75%;
	}
	.footer input[type="email"] {
		width: 73.7%;
	}
	.w3layouts_services_grid {
		width: 90%;
	}
	.agileits_portfolio_grid {
		padding-left: 1em;
		float: none;
		width: 100%;
	}
	.agileits_portfolio_grids {
		margin: 2em 0 0;
	}
	.hovereffect p {
		font-size: 13px;
	}
	.hovereffect h4 {
		padding: 3em 0 0.5em;
	}
	.agileits_w3layouts_user i {
		width: 13%;
	}
}
@media (max-width: 375px){
	.agileits_w3layouts_banner_info_pos {
		left: -25%;
	}
	.w3_agileits_banner_bottom_grid {
		padding: 0;
	}
	.wthree_banner_btm_grid {
		margin-right: 1em;
	}
	.wthree_banner_btm_grid1_pos {
		right: -19%;
	}
	p.augue_agile:before {
		left: -2%;
	}
	p.augue_agile:after {
		right: -2%;
	}
	.footer h3 {
		letter-spacing: 2px;
	}
	.w3layouts_services_grid {
		width: 100%;
	}
	.w3_services_bottom_left,.w3_services_bottom_right {
		padding: 0;
	}
	.hovereffect h4 {
		padding: 3.3em 0 0.5em;
	}
}
@media (max-width: 320px){
	.navbar-brand {
		font-size: .8em;
		background: url(../images/1.png) no-repeat 0px 5px;
		background-size: 25%;
		height: 34px;
	}
	p.augue_agile:before, p.augue_agile:after {
		top: 25%;
	}
	.agileits_w3layouts_banner_info h2 {
		font-size: 1.8em;
	}
	p,.agileits_w3layouts_banner_info_pos ul li a,.agileits_modal_body h4,.agileits_modal_body h5,.agile_remember_left label,.agile_remember_right a,.agileits_w3layouts_user input[type="text"], .agileits_w3layouts_user input[type="email"], .agileits_w3layouts_user input[type="password"] {
		font-size: 13px;
	}
	.w3_agileits_banner_bottom_grid h3 {
		font-size: 1.06em;
	}
	.agileinfo_about_right h4 {
		font-size: 14px;
	}
	p.augue_agile {
		width: 90%;
		margin: 0 auto;
		line-height: 1.8em;
	}
	.wthree_banner_btm_grid h4 {
		font-size: .9em;
	}
	.wthree_banner_btm_grid1_pos {
		right: -23%;
	}
	.agileinfo_subscribe label {
		font-size: 12px;
	}
	.agile_remember_left,.agile_remember_right {
		float: none;
		text-align: left;
	}
	.agile_remember {
		padding: 1em 0;
	}
	.agileits_modal_body input[type="submit"] {
		font-size: 13px;
		padding: 8px 0;
		width: 55%;
	}
	.agileits_w3layouts_user i {
		width: 16%;
		padding: 13px 0;
		font-size: 14px;
	}
	.agileits_w3layouts_banner_info_pos {
		left: -29%;
	}
	.agileits_w3layouts_banner_info_pos1 {
		right: -20%;
	}
	.agileits_w3layouts_banner_info h2 {
		font-size: 1.7em;
	}
	.agileits_w3layouts_banner_info p {
		width: 92%;
		font-size: 11px;
	}
	.banner {
		min-height: 290px;
	}
	.thim-click-to-bottom i {
		padding: 15px 7px;
		font-size: 9px;
	}
	.nav > li > a {
		font-size: 11px;
	}
	.wthree_pop h3 {
		font-size: 1.3em;
	}
	.w3_agileits_testimonial_grids {
		margin: 1em 0 0;
	}
	.footer h3 {
		font-size: 1.1em;
	}
	.footer input[type="email"] {
		width: 73%;
		font-size: 13px;
	}
	.footer input[type="submit"],.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		font-size: 13px;
	}
	.w3layouts_mail_grid_left2 {
		width:77%;
	}
	.w3layouts_mail_grid_left1 {
		width: 35px;
		height: 35px;
	}
	.w3layouts_mail_grid_left1 span {
		font-size: 14px;
		top: 7px;
	}
	.agileits_w3layouts_nav_left ul li a {
		font-size: 12px;
	}
	.agileits_w3layouts_nav_left ul li {
		margin-right: 1em;
	}
	.w3layouts_services_grids {
		margin: 1em 0 0;
	}
	.w3layouts_services_grid h5 {
		font-size: 1.07em;
	}
	.w3_services_bottom_left h3 {
		font-size: 1.1em;
	}
	.w3l_services_footer_top_right_main_r a {
		letter-spacing: 0px;
	}
	.hovereffect h4 {
		padding: 2.3em 0 0.8em;
	}
	.w3_agile_mail_grids_agile {
		margin: 1.5em 0 0;
	}
	.w3layouts_services_grid1_pos {
		width: 30%;
	}
}
